{
  "env": {
    "browser": true,
    "es2023": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": ["prettier", "html"],
  "rules": {
    "no-var": "error",
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.html"],
      "parser": "@html-eslint/parser"
    }
  ]
}
